# ! ================================================================================================================================================
# !                                                    CONFIGURACION DE VARIABLES DE ENTORNO
# ! ================================================================================================================================================
# @Autor: Ramón Dario Rozo Torres
# @Última Modificación: Dario Rozo
# @version 1.0.0
# .env

# TODO: CONFIGURACION DEL PROYECTO
PROJECT_CLIENT=tu_nombre_de_cliente
PROJECT_TIPO=tu_tipo_de_proyecto
PROJECT_NAME=tu_nombre_del_proyecto
PROJECT_VERSION=tu_version_del_proyecto
PROJECT_ENV=tu_ambiente

# TODO: CONFIGURACION DEL SERVIDOR
APP_PORT=my_app_port
APP_URL=my_app_url

# TODO: CONFIGURACION DE LA SESION
SESSION_NAME=my_session_name
APP_SECRET=my_app_secret

# TODO: CONFIGURACION DE LA BASE DE DATOS
DB_HOST=my_db_host
DB_USER=my_db_user
DB_PASSWORD='my_db_password'
DB_NAME=my_db_name
DB_PORT=my_db_port
DB_POOL_SIZE=my_db_pool_size

# TODO: CONFIGURACION URLS DE CORS (URLS PERMITIDAS SEPARADAS POR COMAS)
ALLOWED_ORIGINS=my_allowed_origins

# TODO: API SOUL CHAT
URL_API_SOUL_CHAT=my_url_api_soul_chat

# TODO: API TRIPLE A
URL_API_TRIPLE_A=my_url_api_triple_a
TOKEN_API_TRIPLE_A='my_token_api_triple_a'

#TODO: TBO TRIPLE A
URL_TBO_TRIPLE_A=my_url_tbo_triple_a
TOKEN_TBO_TRIPLE_A='my_token_tbo_triple_a'

# TODO: CONFIGURACION DE RATE LIMITING POR IP
# Configuración general (en minutos)
LIMITE_MINUTOS=my_limite_minutos
LIMITE_MAX_PETICIONES=my_limite_max_peticiones

# TODO: CONFIGURACION DE TIEMPO LIMITE CHAT ABIERTOS, EN HORAS
TIEMPO_LIMITE_CHAT_ABIERTOS=my_tiempo_limite_chat_abiertos

# TODO: CONFIGURACION DE SCHEDULER PARA CERRAR CHATS ANTIGUOS, CADA 30 MINUTOS
# Formato CRON: minuto hora día mes día-semana
# Ejemplos:
# '0 * * * *' = Cada hora (en el minuto 0)
# '*/30 * * * *' = Cada 30 minutos
# '0 */2 * * *' = Cada 2 horas
# '0 0 * * *' = Cada día a las 00:00
CRON_CERRAR_CHATS_ANTIGUOS=*/30 * * * *

# TODO: CONFIGURACION AWS S3 PARA LOGS, subir logs a S3 (true/false)
UPLOAD_LOGS_TO_S3=my_upload_logs_to_s3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=my_aws_access_key_id
AWS_SECRET_ACCESS_KEY=my_aws_secret_access_key
AWS_S3_BUCKET_NAME=my_bucket_name

# TODO: CONFIGURACION SCHEDULER SUBIDA DE LOGS A S3
# Formato CRON: minuto hora día mes día-semana
# '0 * * * *' = Cada hora (en el minuto 0)
# '*/30 * * * *' = Cada 30 minutos
# '0 */2 * * *' = Cada 2 horas
S3_UPLOAD_CRON_SCHEDULE=0 * * * *
# Eliminar archivos locales después de subirlos a S3 (true/false)
S3_DELETE_AFTER_UPLOAD=false


